@font-face {
  font-family: "axiata";
  src: url(Fonts/axiata_book-webfont.TTF) format("truetype");
}
html{
  scroll-behavior: smooth;
}
.base{
  margin-top: -8px;
  margin-left: -8px;
  width:100%;
  height: 8050px;
  position: absolute;
  background-color: #165096;
  z-index: -2;
}
.frame1{
  margin-left: 5%;
  width: 90%;
  height: 620px;
  position: absolute;
  z-index: -1;
  /* background-color: grey; */
}
.welcome{
  margin-left: 15%;
  margin-top: 200px;
  z-index: 1;
  color: #E0E0E0;
  font-family: "axiata";
  font-size: 25px;
  text-shadow: 2px 2px navy;
}
.about{
  margin-top: 400px;
  margin-left: 5%;
  width: 90%;
  height: 120px;
  /* background-color: grey; */
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "axiata";
  z-index: 1;
  text-shadow: 2px 2px black;
}
.frame2{
  margin-top: -20px;
  margin-left: 5%;
  width: 90%;
  height: 570px;
  background-color: white;
  border-radius: 8px;

}
.logo{
  margin: 3% auto auto 70%;
}
.sentences{
  margin-top: 8%;
  margin-left: 20%;
  width: 60%;
  height: 300px;
  font-family: "axiata";
  font-size: 24px;
  text-align: center;
  color: #EE3E80;
  /* background-color: grey; */
}
.intro{
  width: 30%;
  height:50px;
  margin-left: 35%;
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "axiata";
  text-shadow: 2px 2px black;
  /* background-color: grey; */
}
.frame3{
  padding-top: 3%;
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 650px;
  background-color: white;
  z-index: -1;
  position: absolute;
  border-radius: 8px;

}
.chartUtama{
  margin-left: 13%;
  width: 74%;
  height: 550px;
  position: relative;
  /* background-color: grey; */
  z-index: -1;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EE3E80;
  overflow: hidden;
  width: 0;
  height: 75%;
  margin-bottom: 10%;
  transition: .7s ease;
  border-radius: 8px;

}
.chartUtama:hover .overlay {
  width: 100%;
}
.link1 {
  white-space: nowrap;
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "axiata";
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-shadow: 1px 1px navy;

}
.link2 {
  white-space: nowrap;
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "axiata";
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-shadow: 1px 1px navy;

}
.link3 {
  white-space: nowrap;
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "axiata";
  position: absolute;
  overflow: hidden;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-shadow: 1px 1px navy;
}
.intersectPJ{
  width: 30%;
  height:50px;
  margin-top: 750px;
  margin-left: 5%;
  color: #EE3E80;
  font-size: 28px;
  font-family: "axiata";
  text-shadow: 2px 2px black;
  /* background-color: grey; */
}
.framePJ{
  padding-top: 3%;
  margin-top: 6%;
  margin-left: 5%;
  width: 90%;
  height: 1550px;
  background-color: white;
  border-radius: 8px;

}
.chart{
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
  height: 400px;
  /* background-color: grey; */
}
.intersectDesc{
  margin-top: 10%;
  width: 30%;
  height: 50px;
  margin-left: 40%;
  /* background-color: grey; */
  font-size: 22px;
  font-family: "axiata";
  text-shadow: 2px 2px grey;
}
.descPJ{
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 800px;
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  font-family: "axiata";
}
.descPartRow{
  /* background-color: orange; */
  width: 95%;
  height: 33%;
  margin: 1%;
  text-align: center;
  display: flex;
  flex-direction: row;

}
.descRow{
  background-color: #ffcba4;
  width: 33%;
  height: 85%;
  margin: 1%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color:black;
  text-align: center;
  box-shadow: 3px 7px ;
}
.descRow h2{
  margin-top:auto;
  margin-bottom:auto;
}
.upward{
  margin:0% auto auto 90%;
  -webkit-filter: drop-shadow(3px 4px 3px navy);
  filter: drop-shadow(2px 2px 2px grey);
}
.upward:hover{
  transform: scale(1.5);
}

.intersectPS{
  width: 30%;
  height:45px;
  margin-top:-15px;
  margin-left: 5%;
  color: #EE3E80;
  font-size: 28px;
  font-family: "axiata";
  text-shadow: 2px 2px black;
}
.framePS{
  padding-top: 3%;
  margin-top: 6%;
  margin-left: 5%;
  width: 90%;
  height: 2100px;
  background-color: white;
  font-family: "axiata";
  border-radius: 8px;

}
.framePD{
  padding-top: 3%;
  margin-top: 6%;
  margin-left: 5%;
  width: 90%;
  height: 1600px;
  background-color: white;
  font-family: "axiata";
  border-radius: 8px;
}
