<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type ="text/css" href="{% static 'style.css' %}" id="theme_css">
    <script src="{% static 'script.js' %}"></script>
    <title>Employee Information</title>
  </head>
  <body>
    <div class="base">
      <div class="frame1">
        <img src="https://i.ibb.co/SwShv8f/base.png" width="100%" height= "100%" alt="">
      </div>
      <div class="welcome">
        <h1>Employee Information</h1>
      </div>
      <div class="about">
        <h2>About</h2>
      </div>
      <div class="frame2">
        <img class= logo src="https://i.ibb.co/MNjQZy1/logo-xl-1.png" width="264px" height="61px" >
        <div class="sentences">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fusgiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum. </p>
        </div>
      </div>
      <div class="intro">
        <h2 id="top">Meet HC People</h2>
      </div>
      <div class="frame3">
        <div class="chartUtama">
          <img src="https://i.ibb.co/Vt7gsH6/1578389273872.jpg"  width="100%" height="100%" >
          <div class="overlay">
            <a class="link1" href="#pjlink">People Journey</a>
            <a class="link2" href="#pslink">People Services</a>
            <a class="link3" href="#pdlink">People Development</a>
          </div>
        </div>
      </div>
      <!-- <img class="upward" src="https://i.ibb.co/cNYLcYc/Group-8.png" width="50px" height="50px"> -->
      <div class="intersectPJ">
        <h2 id="pjlink">People <br>Journey</h2>
      </div>
      <div class="framePJ">
        <div class="chart">
          <img src="https://i.ibb.co/SK3x0w1/Group-6.png" width="100%" height="100%" alt="">
        </div>
        <div class="intersectDesc">
          <h2>Description</h2>
        </div>
        <div class="descPJ">
          <div class="descPartRow">
            <div class="descRow">
              <h2 >HC Strategy & Organization Development Areas</h2>
            </div>
            <div class="descRow" style="background-color:white;font-size:14px;text-align:left;color:#165096">
              <p style="margin-top:30px">1. In charge of:
                <br>&emsp;✓ Organizational Development
                <br>&emsp;✓ Human Capital Policies Alignment
                <br>&emsp;✓ Human Capital Strategic Planning
              <br>2. Implements man power planning
              <br>3. Monitors subjects or situation that align with business goals</p>

            </div>
            <div class="descRow">
              <h2>Managed by: Leonard Theodore S. <br>Team: Muhammad Pradipta A.</h2>
            </div>

          </div>
          <div class="descPartRow">
            <div class="descRow">
              <h2>&nbsp;Talent Acquisition Areas</h2>
            </div>
            <div class="descRow" style="background-color:white;font-size:14px;text-align:left;color:#165096">
              <p>1. Responsible for managing all recruitment <br> &ensp;&nbsp;process from apllying until accepted
              <br>2. Recruitment process area:
              <br>&emsp;- Adinuansyah: CSBD and Technology
              <br>&emsp;- Tiara Elza: Commercial
              <br>&emsp;- Yospha Sistine: Region Commercial
              <br>3. Responsible for candidate  administration
              <br>&emsp;including scheduled interview candidate,
              <br>&emsp;psycho test, medical check-up, input data
              <br>&emsp;success factor, and invoice.
              <br>&emsp;Handled by <b>Putri Ulandari</b> </p>
            </div>
            <div class="descRow">
              <h2>Managed by: Aztia Pertiwi Damukuto</h2>
            </div>

          </div>
          <div class="descPartRow">
            <div class="descRow">
              <h2>Human Capital Business Partner Areas</h2>
            </div>
            <div class="descRow" style="background-color:white;font-size:14px;text-align:left;color:#165096">
              <p>1. Responsible for managing all recruitment <br> &ensp;&nbsp;process from apllying until accepted
              <br>2. Recruitment process area:
              <br>&emsp;- Adinuansyah: CSBD and Technology
              <br>&emsp;- Tiara Elza: Commercial
              <br>&emsp;- Yospha Sistine: Region Commercial
              <br>3. Responsible for candidate  administration
              <br>&emsp;including scheduled interview candidate,
              <br>&emsp;psycho test, medical check-up, input data
              <br>&emsp;success factor, and invoice.
              <br>&emsp;Handled by <b>Putri Ulandari</b> </p>
            </div>
            <div class="descRow">
              <h2>Managed by: Putri Lintang</h2>
            </div>
          </div>
        </div>
        <a href="#top"><img class="upward" src="https://i.ibb.co/D9RJHwp/Group-8-1.png" width="50px" height="50px"></a>
      </div>
      <div class="intersectPS">
        <h2 id="pslink">People <br>Services</h2>
      </div>
      <div class="framePS">
        <div class="chart">
          <img src="https://i.ibb.co/vj3qdNC/Group-7.jpg" width="100%" height="100%">
        </div>
        <div class="intersectDesc">
          <h2>Description</h2>
        </div>
        <div class="descPartRow" style="height:500px;margin-left:2%;margin-top:5%;">
          <div class="descRow">
            <h2>Reward Management Areas</h2>
          </div>
          <div class="descRow" style="background-color:white;font-size:13px;text-align:left;color:#165096;">
            <p>1. In charge of employee compensation and <br>&ensp; benefit, includes:
            <br>&emsp;- Offering new hire -> Salary
            <br>&emsp;- Fixed Benefit (Communication Faculty and <br>&ensp;&emsp;Medical)
            <br>&emsp;- Variable Benefits (Bonus, Incentive, Commision)
            <br>2. Area:
            <br>&emsp;<b>- Yuke Ervina Candradewi</b>:
            <br>&emsp;&emsp;✓ Maintains employee's contract
            <br>&emsp;&emsp;✓ Tax
            <br>&emsp;&emsp;✓ Payroll
            <br>&emsp;&emsp;✓ Variable Benefits
            <br>&emsp;<b>- Mita Saraswati</b>: Strategy Compensation and <br>&emsp;&ensp; Benefit
            <br>&emsp;<b>- Amalia Rahmiyati</b>:
            <br>&emsp;&emsp;✓ Communication facility benefit
            <br>&emsp;&emsp;✓ Manages letters
            <br>&emsp;&emsp;✓ Communication
            <br>&emsp;<b>- Teguh Maulana</b>: Report BPJS <br>&emsp;&ensp; Ketenagakerjaan
            <br>&emsp;<b>-Yeva Karmila</b>:
            <br>&emsp;&emsp;✓ Medical benefit
            <br>&emsp;&emsp;✓ Epatriate Administration</p>
          </div>
          <div class="descRow">
            <h2>Managed by: Ryyld Ipbtas Yusri</h2>
          </div>
        </div>
        <div class="descPartRow" style="height:600px;margin-left:2%;">
          <div class="descRow">
            <h2>&emsp; Employee Relations Areas</h2>
          </div>
          <div class="descRow" style="background-color:white;font-size:13px;text-align:left;color:#165096;">
            <p>1. Maintain relationship between employee and also <br>&emsp;between the company and employee according to <br>&emsp;the company's regulation
            <br>2. Area:
            <br>&emsp;<b>- Iwan Syafrizal</b>:
            <br>&emsp;&emsp;✓ Leads company strategy into employee activity
            <br>&emsp;&emsp;✓ Managing onboarding process
            <br>&emsp;&emsp;✓ Managing internship program
            <br>&emsp;&emsp;✓ Event design and execution
            <br>&emsp;&emsp;✓ Industrial visit
            <br>&emsp;&emsp;✓ Industrial research
            <br>&emsp;&emsp;✓ Managing X-Fit activity
            <br>&emsp;<b>- Luthfi Amaliah Ismi</b>:
            <br>&emsp;&emsp;✓ Managing all ER activities report
            <br>&emsp;&emsp;✓ Strategy employee engagement (survey, plan, <br>&emsp;&emsp;&emsp;execution, and post action)
            <br>&emsp;&emsp;✓ Managing internal communication
            <br>&emsp;&emsp;✓ Managing employee data (family, leave, <br>&emsp;&emsp;&emsp;education, etc)
            <br>&emsp;&emsp;✓ Managing employee activity budget
            <br>&emsp;<b>- Theresia Dian Pratiwi</b>:
            <br>&emsp;&emsp;✓ Mitigation employee violation
            <br>&emsp;&emsp;✓ Registered and communicate company <br>&emsp;&emsp;&emsp;regulation, code of conduct, and company<br>&emsp;&emsp;&emsp;ethics
            <br>&emsp;&emsp;✓ Handling employee offboarding (working tools, <br>&emsp;&emsp;&emsp;employment letters, disnaker, JAMSOSTEK, <br>&emsp;&emsp;&emsp;Manulife )</p>
          </div>
          <div class="descRow">
            <h2>Managed by: Ronnie Setiawan</h2>
          </div>
        </div>
        <div class="descPartRow" style="height:200px;margin-left:2%;">
          <div class="descRow">
            <h2>Koperasi Karyawan XL Axiata Area</h2>
          </div>
          <div class="descRow" style="background-color:white;font-size:13px;text-align:left;color:#165096;">
            <p>1. Leads Koperasi Karyawan XL Axiata's business in <br>&emsp;order to deliver value of benefit to stakeholders <br>&emsp;comprises of these three pillars:
            <br>&emsp;- Member/employee
            <br>&emsp;- Koperasi Karyawan XL Axiata as an organization
            <br>&emsp;- XL Axiata, Tbk. as affiliated business company
            <br>2. Synergies each strategic roles to become a mutual <br>&emsp;beneficial business relationship</p>
          </div>
          <div class="descRow">
            <h2>Managed by: Agus Iljusiantono</h2>
          </div>
        </div>
        <a href="#top"><img class="upward" src="https://i.ibb.co/D9RJHwp/Group-8-1.png" width="50px" height="50px"></a>
      </div>
      <div class="intersectPS">
        <h2 id="pdlink">People Development</h2>
      </div>
      <div class="framePD">
        <div class="chart">
          <img src="https://i.ibb.co/bBZRxK0/1578556013777.jpg" width="100%" height="100%">
        </div>
        <div class="intersectDesc">
          <h2>Description</h2>
        </div>
        <div class="descPJ" style="height:850px">
          <div class="descPartRow"style="height:55%;">
            <div class="descRow">
              <h2>Koperasi Karyawan XL Axiata Areas</h2>
            </div>
            <div class="descRow" style="background-color:white;font-size:13px;text-align:left;color:#165096;">
              <p>1. Identifies and performs  analytics based on the <br>&ensp; employee needs, and delivers a program for <br>&ensp; the required needs
              <br>2. Identifies and analytics area:
              <br>&emsp;<b>- Andree Murtantyo Kusumo Putro</b>:
              <br>&emsp;&emsp;✓ Human Capital
              <br>&emsp;&emsp;✓ Corporate Strategy and Business <br>&emsp;&emsp;&emsp;Development
              <br>&emsp;&emsp;✓ Commercial
              <br>&emsp;&emsp;✓ Scrum & Agile
              <br>&emsp;&emsp;✓ LinkedIn Learning
              <br>&emsp;<b>- Deesy Irawati</b>:
              <br>&emsp;&emsp;✓ Business Inovation
              <br>&emsp;&emsp;✓ Finance
              <br>&emsp;&emsp;✓ CEO's Office
              <br>&emsp;&emsp;✓ Electronic Learning Management System
              <br>&emsp;&emsp;✓ Employee Value Proposition & Culture
              <br>&emsp;<b>- Redi Rindayadi Ahmad</b>:
              <br>&emsp;&emsp;✓ Employee Value Proposition & Culture</p>
            </div>
            <div class="descRow">
              <h2>Managed By: Bondan Permana</h2>
            </div>
          </div>
          <div class="descPartRow"s style="height:45%;">
            <div class="descRow">
              <h2>Learning Development</h2>
            </div>
            <div class="descRow" style="background-color:white;font-size:13px;text-align:left;color:#165096;">
              <p>1. Managing talent management start from <br>&ensp; administration and development
              <br>2. Performance management process start from <br>&ensp; planning until review
              <br>3. Assesment using Axiata tools for talent <br>&ensp; selection, sucession planning and talent review
              <br>4. Area:
              <br>&emsp;<b>- Shanti Rahayuningtyas</b>:
              <br>&emsp;&emsp;✓ CEO's Office
              <br>&emsp;&emsp;✓ Finance
              <br>&emsp;&emsp;✓ Commercial (Direct from CEO and  <br>&emsp;&emsp;&emsp;Premium)
              <br>&emsp;&emsp;✓ Human Capital
              <br>&emsp;<b>- Elsa Nedia</b>:
              <br>&emsp;&emsp;✓ Commercial (Youth and Mass), technology, <br>&emsp;&emsp;&emsp;and CSBD
              <br>&emsp;&emsp;✓ MDP (Mass Development Program)</p>
            </div>
            <div class="descRow">
              <h2>Managed By: Rizaldi Baharuddin</h2>
            </div>
          </div>
        </div>
        <a href="#top"><img class="upward" src="https://i.ibb.co/D9RJHwp/Group-8-1.png" width="50px" height="50px"></a>
      </div>
      <img src="https://i.ibb.co/3FVRsJK/logo-xl-baru.png" width="150px" height="40px" style="margin:1% auto auto 80%;" >

    </div>

  </body>
  <!-- <script >
    function appear(x){
      x.style.color = "yellow";
    }
    function gone(x){
      x.style.color = "grey";
    }
    document.getElementByClassName("surprise").onmouseover= function(){

    }
  </script> -->
</html>
